html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local("Segoe UI Light");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local("Segoe UI Semilight");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local("Segoe UI");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local("Segoe UI Semibold");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

._section-title {
    font-size: 36px;
    font-weight: bold;
    color: #1c8ece;
    text-align: center;
    text-transform: uppercase;
}

a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #3697d1;
}

body {
    font-family: 'Segoe UI Local', 'Segoe UI Web (West European)', sans-serif;
    font-weight: 400;
}

a:focus,
a:hover,
a:active,
a:focus-within {
    border: none;
    outline: none;
}

select:focus,
select:hover,
select:active,
select:focus-within {
    border: none;
    outline: red;
}

option:focus,
option:hover,
option:active,
option:focus-within {
    border: none;
    outline: red;
}

*:focus {
    outline: none;
}

.kpmg--header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto auto;
}

.kpmg--header__wrapper {
    background-color: #223b7e;
    font-family: 'Segoe UI Local', 'Segoe UI Web (West European)', sans-serif;
}

.kpmg--logo {
    margin: auto auto;
}

.kpmg--logo  svg{
    margin: auto auto;
}

.kpmg--header__nav {
    margin-top: 10px;
}

.kpmg--header__nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.kpmg--header__nav ul li  {
    margin: 0 5px;
}
.kpmg--header__nav ul li a {
    text-transform: capitalize;
    font-size: 12px;
    font-family: 'Segoe UI Local', 'Segoe UI Web (West European)', sans-serif;
}

.kpmg--header__nav ul li:hover {
    -webkit-box-shadow: 0 1px 0 #ffffff;
    -moz-box-shadow: 0 1px 0 #ffffff;
    box-shadow: 0 1px 0 #ffffff;
}

.kpmg--header-btn {
    margin-top: 10px;
    background: inherit;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border: 1px solid #0072bc;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

.kpmg--header__title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.kpmg--header__select {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    position: relative;
    z-index: 100;

}

.kpmg--header__select option {
    color: #223b7e;
}

.kpmg--header__select__wrapper {
    position: relative;
    z-index: 100;
    box-sizing: border-box;
}

.kpmg--header__select__wrapper:before {
    content: '>';
    right: 0;
    top: 10px;
    color: #ffffff;
    font-weight: bold;
    display: block;
    position: absolute;
    z-index: 1;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.kpmg--footer {
    text-align: center;
    margin: auto auto;
}

.kpmg--footer__wrapper {
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 25px;
    font-family: "Segoe UI Local", "Segoe UI Web (West European)", sans-serif;

}

.kpmg--footer__mail {
    font-size: 12px;
    color: #3d5089;
    margin-bottom: 25px;
}

.kpmg--footer__mail a {
    color: #3697d1;
    font-size: 12px;
}

.kpmg--footer__items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.kpmg--footer__items > a {
    font-size: 10px;
    color: #1c8ece;
    text-decoration: underline;
    box-shadow: -1px 0px 0px 0px #223b7e, 1px 0px 0px 0px #223b7e;
    padding: 0 10px;
    margin: 2px auto;
}

.kpmg--footer__items > a:nth-child(odd) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.kpmg--footer__copyright {
    font-size: 10px;
    color: #223b7e;
    margin: 15px auto 0 auto;
}


@media (max-width: 1023px) and (min-width: 992px) {
    .kpmg--logo {
        order: 3;
    }
    .kpmg--header {
        -webkit-flex-wrap: wrap-reverse;
        -moz-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .kpmg--header__title {
        order: 4;
    }
    .kpmg--header-btn {
        order: 5;
    }
    .kpmg--header__nav {
        order: 2;
    }
    .kpmg--header__select {
        order: 1;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .kpmg--logo {
        order: 4;
    }
    .kpmg--header {
        -webkit-flex-wrap: wrap-reverse;
        -moz-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .kpmg--header__title {
        order: 5;
    }
    .kpmg--header-btn {
        order: 3;
    }
    .kpmg--header__nav {
        order: 2;
    }
    .kpmg--header__select {
        order: 1;
    }
    .kpmg--header__select__wrapper:before {
        right: -20px;
    }
    .kpmg--header {
        -webkit-flex-wrap: wrap-reverse;
        -moz-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .kpmg--header__title {
        order: 5;
    }
    .kpmg--header-btn {
        order: 3;
    }
    .kpmg--header__nav {
        order: 2;
    }
    .kpmg--header__select {
        order: 0;
    }
    .kpmg--header__select__wrapper:before {
        right: -20px;
    }
}

@media (max-width: 767px) and (min-width: 567px) {
    .kpmg--logo {
        order: 6;
    }
    .kpmg--header {
        -webkit-flex-wrap: wrap-reverse;
        -moz-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .kpmg--header__title {
        order: 5;
    }
    .kpmg--header-btn {
        order: 3;
    }
    .kpmg--header__nav {
        order: 2;
    }
    .kpmg--header__select {
        order: 1;
    }
    .kpmg--header__select__wrapper:before {
        right: -20px;
    }
}

@media (max-width: 566px) {
    .kpmg--logo {
        order: 6;
    }
    .kpmg--header {
        -webkit-flex-wrap: wrap-reverse;
        -moz-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .kpmg--header__title {
        order: 5;
    }
    .kpmg--header-btn {
        order: 3;
    }
    .kpmg--header__nav {
        order: 2;
    }
    .kpmg--header__select {
        order: 1;
    }
    .kpmg--header__select__wrapper:before {
        right: -3em;
    }
}
